@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h2 style="background-color:lightblue;"><p>This page is under construction as of @ViewData["TimeStamp"].</p></h2>

 